* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: brown;
  text-decoration: none;
}

a {
  color: blanchedalmond;
  font-size: 2rem;
}

button {
  font-size: 1rem;
  width: fit-content;
  margin: 1rem;
}
